body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../image/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    margin: 0;
}
.bodyBG{
    background-color:rgb(0, 0, 0, 0.8);
    height: 1080px;
    width: 1920px;

}
.container{
    margin-left: 15%;
    margin-right: 15%; 
}
.mainDivForm{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 8%;
    padding-top: 10%;
}
.mainDiv1P{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
    margin: 0;
}
.mainDivFormLabel{
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.mainDivFormLabelError{
    padding-top: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: bold;
    color:#ee6454;
    display: inline-block;
    height: 25px;
}
.mainDivFormLabelOk{
    padding-top: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #2ECC71;
    display: inline-block;
    height: 25px;
}
.mainDivFormInput{
    color: white;
    margin-top: 3%;
    font-size: 15px;
    width: 320px;
    padding: 5px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #2ECC71;
}
.mainDivFormA{
    text-decoration: none;
    padding-left: 5px;
    color: #A569BD;
}
.mainDivFormButton{
    margin-top: 7%;
    margin-bottom: 40%;
    margin-left: 54%;
    font-size: 20px;
    background-color: #2ECC71 ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}
.mainDivFormAdd{
    margin-top: 3%;
    margin-bottom: 20%;
    margin-left: 26%;
    font-size: 20px;
    background-color: #3498DB ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}
.mainDivFormRemove{
    margin-top: 8%;
    margin-bottom: 40%;
    margin-left: 17.5%;
    font-size: 20px;
    background-color: #E20505 ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}
.mainDivFormRememerMe{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.salaryMainDivForm{
    margin-left: 20%;
    margin-right: 20%;
}
.salaryMainDivFormButton{
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 7%;
    font-size: 20px;
    background-color: #2ECC71 ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}

  